# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
/examples/bin
examples/color_grid/build/
examples/fromDb/build/
examples/fromDbPagination/build/
examples/simple_array/build/
examples/simple_w_buttons/build/
examples/with_json_cpp_be/build/